@{
    ViewBag.Title = "Rol Listesi";
    Layout = "_Layout";
}


 <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Roller</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center flex-wrap gap-2">
                        <div class="flex-grow-1">
                            <button class="btn btn-info add-btn" data-bs-toggle="modal" data-bs-target="#showModal"><i class="ri-add-fill me-1 align-bottom"></i> Rol Ekle</button>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="hstack text-nowrap gap-2">
                                <button class="btn btn-soft-danger material-shadow-none" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                <button class="btn btn-danger material-shadow-none"><i class="ri-filter-2-line me-1 align-bottom"></i> Filtrele</button>
                                @* <button class="btn btn-soft-success material-shadow-none">Import</button> *@
                                @* <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-soft-info material-shadow-none"><i class="ri-more-2-fill"></i></button> *@
                                @* <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1"> *@
                                @*     <li><a class="dropdown-item" href="#">All</a></li> *@
                                @*     <li><a class="dropdown-item" href="#">Last Week</a></li> *@
                                @*     <li><a class="dropdown-item" href="#">Last Month</a></li> *@
                                @*     <li><a class="dropdown-item" href="#">Last Year</a></li> *@
                                @* </ul> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        <div class="col-xxl-12">
            <div class="card" id="contactList">
                <div class="card-header">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="search-box">
                                <input type="text" class="form-control search" placeholder="Müşteri ara...">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <div class="col-md-auto ms-auto">
                            <div class="d-flex align-items-center gap-2">
                                <span class="text-muted">Sırala: </span>
                                <select class="form-control mb-0" data-choices data-choices-search-false id="choices-single-default">
                                    <option value="Name">Ad</option>
                                    <option value="NormalizedNAme">Ad (Normal)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="table-responsive table-card">
                            <table class="table align-middle table-nowrap" id="invoiceTable">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col" style="width: 50px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="role_id" scope="col">Rol Adı</th>
                                        <th class="sort" data-sort="role_name" scope="col">Rol Adı</th>
                                        <th class="sort" data-sort="normalized_role_name" scope="col">Rol Adı (Normal)</th>
                                        <th scope="col">Eylemler</th>
                                    </tr>
                                </thead>
                                <tbody id="roleList" class="list form-check-all">
                                    
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted mb-0">We've searched more than 150+ contacts We did not find any contacts for you search.</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border-0">
                                <div class="modal-header bg-info-subtle p-3">
                                    <h5 class="modal-title" id="exampleModalLabel">Rol Ekle</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                </div>
                                <form id="roleAddForm" class="tablelist-form" autocomplete="off">
                                    <div class="modal-body">
                                        <input type="hidden" id="id-field" />
                                        <div class="row g-3">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <label for="roleName" class="form-label">Rol Adı</label>
                                                    <input type="text" id="roleName" class="form-control" placeholder="Rol Adı Girin" required />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div id="apiError" class="alert alert-danger d-none"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-success" id="add-btn">Rol Ekle</button>
                                            <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end add modal-->

                    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" id="deleteRecord-close"  data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                                </div>
                                <div class="modal-body p-5 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                    <div class="mt-4 text-center">
                                        <h4 class="fs-semibold">You are about to delete a contact ?</h4>
                                        <p class="text-muted fs-14 mb-4 pt-1">Deleting your contact will remove all of your information from our database.</p>
                                        <div class="hstack gap-2 justify-content-center remove">
                                            <button class="btn btn-link link-success fw-medium text-decoration-none material-shadow-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                            <button class="btn btn-danger" id="delete-record">Yes, Delete It!!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end delete modal -->

                </div>
            </div>
            <!--end card-->
        </div>
    </div>
    <!--end row-->

</div>
<!-- container-fluid -->


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const tbody = document.getElementById('roleList');
            if (!tbody) return;
        
            const res = await fetch('/api/roles/GetAll');
            const list = await res.json();
        
            tbody.innerHTML = '';
        
            list.forEach(r => {
                tbody.innerHTML += `
                 <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                        </div>
                    </th>
                    <td class="role_id">${r.id}</td>
                    <td class="role_name">${r.roleName}</td>
                    <td class="normalized_role_name">${r.normalizedRoleName}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-fill align-middle"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button class="dropdown-item" href="javascript:void(0);">
                                        <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                        Güncelle
                                    </button>
                                </li>
                                <li>
                                    <a class="dropdown-item remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                        Sil
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                 </tr>
                `;
            });
        });
    </script>
    
    <script>
        document.getElementById('roleAddForm')
            .addEventListener('submit', async function (e) {
                e.preventDefault();
    
                const apiError = document.getElementById('apiError');
                apiError.classList.add('d-none');
                apiError.innerText = '';
    
                const payload = {
                    roleName: document.getElementById('roleName').value,
                };
    
                try {
                    const res = await fetch('/api/roles/create', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(payload)
                    });
    
                    if (!res.ok) {
                        const data = await res.json().catch(() => ({}));
                        apiError.innerText = data.title || 'Kayıt başarısız.';
                        apiError.classList.remove('d-none');
                        return;
                    }
    
                    // başarılı → listeye dön
                    window.location.href = '/roles';
    
                } catch {
                    apiError.innerText = 'Sunucuya ulaşılamadı.';
                    apiError.classList.remove('d-none');
                }
        });
    </script>
}