@{
    ViewBag.Title = "Rol Yetkileri";
    Layout = "_Layout";
}

<div class="col-xxl-12">
    <h5 class="mb-3">Rol Yetkileri</h5>
    <div class="card">
        <div class="card-body">
            <p class="text-muted mb-5">Burada seçeceğiniz rollere bazı yetkiler atamanız gerek.</p>
            <div class="d-flex flex-wrap">
                <div class="form-check mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck6" checked>
                    <label class="form-check-label" for="formCheck6">
                        Checkbox Primary
                    </label>
                </div>
                <div class="form-check form-check-secondary mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck7" checked>
                    <label class="form-check-label" for="formCheck7">
                        Checkbox Secondary
                    </label>
                </div>
                <div class="form-check form-check-success mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                    <label class="form-check-label" for="formCheck8">
                        Checkbox Success
                    </label>
                </div>
                <div class="form-check form-check-warning mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck9" checked>
                    <label class="form-check-label" for="formCheck9">
                        Checkbox Warning
                    </label>
                </div>
                <div class="form-check form-check-danger mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck10" checked>
                    <label class="form-check-label" for="formCheck10">
                        Checkbox Danger
                    </label>
                </div>
                <div class="form-check form-check-info mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck11" checked>
                    <label class="form-check-label" for="formCheck11">
                        Checkbox Info
                    </label>
                </div>
                <div class="form-check form-check-dark mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck12" checked>
                    <label class="form-check-label" for="formCheck12">
                        Checkbox Dark
                    </label>
                </div>
                <div class="form-check mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck6" checked>
                    <label class="form-check-label" for="formCheck6">
                        Checkbox Primary
                    </label>
                </div>
                <div class="form-check form-check-secondary mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck7" checked>
                    <label class="form-check-label" for="formCheck7">
                        Checkbox Secondary
                    </label>
                </div>
                <div class="form-check form-check-success mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                    <label class="form-check-label" for="formCheck8">
                        Checkbox Success
                    </label>
                </div>
                <div class="form-check form-check-warning mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck9" checked>
                    <label class="form-check-label" for="formCheck9">
                        Checkbox Warning
                    </label>
                </div>
                <div class="form-check form-check-danger mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck10" checked>
                    <label class="form-check-label" for="formCheck10">
                        Checkbox Danger
                    </label>
                </div>
                <div class="form-check form-check-info mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck11" checked>
                    <label class="form-check-label" for="formCheck11">
                        Checkbox Info
                    </label>
                </div>
                <div class="form-check form-check-dark col-xs-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck12" checked>
                    <label class="form-check-label" for="formCheck12">
                        Checkbox Dark
                    </label>
                </div>
                <div class="form-check mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck6" checked>
                    <label class="form-check-label" for="formCheck6">
                        Checkbox Primary
                    </label>
                </div>
                <div class="form-check form-check-secondary mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck7" checked>
                    <label class="form-check-label" for="formCheck7">
                        Checkbox Secondary
                    </label>
                </div>
                <div class="form-check form-check-success mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                    <label class="form-check-label" for="formCheck8">
                        Checkbox Success
                    </label>
                </div>
                <div class="form-check form-check-warning mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck9" checked>
                    <label class="form-check-label" for="formCheck9">
                        Checkbox Warning
                    </label>
                </div>
                <div class="form-check form-check-danger mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck10" checked>
                    <label class="form-check-label" for="formCheck10">
                        Checkbox Danger
                    </label>
                </div>
                <div class="form-check form-check-info mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck11" checked>
                    <label class="form-check-label" for="formCheck11">
                        Checkbox Info
                    </label>
                </div>
                <div class="form-check form-check-dark mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck12" checked>
                    <label class="form-check-label" for="formCheck12">
                        Checkbox Dark
                    </label>
                </div>
                <div class="form-check form-check-danger mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck10" checked>
                    <label class="form-check-label" for="formCheck10">
                        Checkbox Danger
                    </label>
                </div>
                <div class="form-check form-check-info mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck11" checked>
                    <label class="form-check-label" for="formCheck11">
                        Checkbox Info
                    </label>
                </div>
                <div class="form-check form-check-dark mb-4 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <input class="form-check-input" type="checkbox" id="formCheck12" checked>
                    <label class="form-check-label" for="formCheck12">
                        Checkbox Dark
                    </label>
                </div>
            </div>
        </div><!-- end card-body -->
    </div>
    <!--end card-->
</div>