@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Fatura Oluştur</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Faturalar</a></li>
                        <li class="breadcrumb-item active">Fatura Oluştur</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row justify-content-center">
        <div class="col-xxl-9">
            <div class="card">
                <form class="needs-validation" novalidate id="invoice_form">
                    <div class="card-body p-4">
                        <div class="row g-3">
                            <div class="col-lg-3 col-sm-6">
                                <label for="invoiceNo">Fatura No</label>
                                <input type="text" class="form-control bg-light border-0" id="invoiceNo" placeholder="Fatura No" value="#VL25000355" readonly="readonly" />
                            </div>
                            <!--end col-->
                            <div class="col-lg-3 col-sm-6">
                                <label for="choices-currency">Para Birimi</label>
                                <div class="input-light">
                                    <select class="form-control bg-light border-0" data-choices data-choices-search-false id="choices-currency" required>
                                        <option value="">Bir Para Birimi Seçin</option>
                                        <option value="USDT_TRX">USDT_TRX</option>
                                        <option value="BTC">BTC</option>
                                        <option value="ETH">ETH</option>
                                    </select>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-3 col-sm-6">
                                <label for="choices-source-currency">Gerçek Para Birimi</label>
                                <div class="input-light">
                                    <select class="form-control bg-light border-0" data-choices data-choices-search-false id="choices-source-currency" required>
                                        <option value="">Gerçek Bir Para Birimi Seçin</option>
                                        <option value="USD">USD</option>
                                        <option value="EURO">EURO</option>
                                        <option value="TL">TL</option>
                                    </select>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-3 col-sm-6">
                                <div>
                                    <label for="sourceAmount">Toplam Tutar</label>
                                    <input type="text" class="form-control bg-light border-0" id="sourceAmount" placeholder="$0.00" readonly />
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <div class="card-body p-4">
                        <div class="table-responsive">
                            <table class="invoice-table table table-borderless table-nowrap mb-0">
                                <thead class="align-middle">
                                    <tr class="table-active">
                                        <th scope="col" style="width: 50px;">#</th>
                                        <th scope="col">
                                            Ürün Adı
                                        </th>
                                        <th scope="col" style="width: 120px;">
                                            <div class="d-flex currency-select input-light align-items-center">
                                                Para Birimi
                                                <select class="form-selectborder-0 bg-light" data-choices data-choices-search-false id="choices-payment-currency" onchange="otherPayment()">
                                                    <option value="$">($)</option>
                                                    <option value="£">(£)</option>
                                                    <option value="₹">(₹)</option>
                                                    <option value="€">(€)</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th scope="col" style="width: 120px;">Adet</th>
                                        <th scope="col" class="text-end" style="width: 150px;">Tutar</th>
                                        <th scope="col" class="text-end" style="width: 105px;"></th>
                                    </tr>
                                </thead>
                                <tbody id="newlink">
                                    <tr id="1" class="product">
                                        <th scope="row" class="product-id">1</th>
                                        <td class="text-start">
                                            <div class="mb-2">
                                                <input type="text" class="form-control bg-light border-0" id="productName-1" placeholder="Product Name" required />
                                                <div class="invalid-feedback">
                                                    Please enter a product name
                                                </div>
                                            </div>
                                            <textarea class="form-control bg-light border-0" id="productDetails-1" rows="2" placeholder="Product Details"></textarea>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control product-price bg-light border-0" id="productRate-1" step="0.01" placeholder="0.00" required />
                                            <div class="invalid-feedback">
                                                Please enter a rate
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-step">
                                                <button type="button" class='minus'>–</button>
                                                <input type="number" class="product-quantity" id="product-qty-1" value="0" readonly>
                                                <button type="button" class='plus'>+</button>
                                            </div>
                                        </td>
                                        <td class="text-end">
                                            <div>
                                                <input type="text" class="form-control bg-light border-0 product-line-price" id="productPrice-1" placeholder="$0.00" readonly />
                                            </div>
                                        </td>
                                        <td class="product-removal">
                                            <a href="javascript:void(0)" class="btn btn-success">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr id="newForm" style="display: none;"><td class="d-none" colspan="5"><p>Add New Form</p></td></tr>
                                    <tr>
                                        <td colspan="5">
                                            <a href="javascript:new_link()" id="add-item" class="btn btn-soft-secondary fw-medium"><i class="ri-add-fill me-1 align-bottom"></i> Add Item</a>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-top-dashed mt-2">
                                        <td colspan="3"></td>
                                        <td colspan="3" class="p-0">
                                            <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Sub Total</th>
                                                        <td style="width:150px;">
                                                            <input type="text" class="form-control bg-light border-0" id="cart-subtotal" placeholder="$0.00" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Estimated Tax (12.5%)</th>
                                                        <td>
                                                            <input type="text" class="form-control bg-light border-0" id="cart-tax" placeholder="$0.00" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Discount <small class="text-muted">(VELZON15)</small></th>
                                                        <td>
                                                            <input type="text" class="form-control bg-light border-0" id="cart-discount" placeholder="$0.00" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Shipping Charge</th>
                                                        <td>
                                                            <input type="text" class="form-control bg-light border-0" id="cart-shipping" placeholder="$0.00" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr class="border-top border-top-dashed">
                                                        <th scope="row">Total Amount</th>
                                                        <td>
                                                            <input type="text" class="form-control bg-light border-0" id="cart-total" placeholder="$0.00" readonly />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end table-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                        <!--end row-->
                        <div class="mt-4">
                            <label for="exampleFormControlTextarea1" class="form-label text-muted text-uppercase fw-semibold">NOTES</label>
                            <textarea class="form-control alert alert-info" id="exampleFormControlTextarea1" placeholder="Notes" rows="2" required>All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or credit card or direct payment online. If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed quoted fee noted above.</textarea>
                        </div>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <button type="submit" class="btn btn-success"><i class="ri-printer-line align-bottom me-1"></i> Save</button>
                            <a href="javascript:void(0);" class="btn btn-primary"><i class="ri-download-2-line align-bottom me-1"></i> Download Invoice</a>
                            <a href="javascript:void(0);" class="btn btn-danger"><i class="ri-send-plane-fill align-bottom me-1"></i> Send Invoice</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->

</div>
